{% extends "base.html" %}
{% load static %}

{% block title %}Угадай число{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1>Игра "Угадай число"</h1>
            <form method="get" action="{% url 'home' %}">
                <h2>Загаданное число: {{ hidden_number }}</h2>
                <p>Второй игрок будет пытаться отгадать его</p>
            </form>
<!--                <form method="POST" action="{% url 'home' %}">-->
<!--                    {% csrf_token %}-->
<!--                    {{ game_form }}-->
<!--                    <input type="submit" value="Загадать">-->
<!--                </form>-->
        </div>
    </div>
{% endblock %}